.datepickerWrapper {
    display: inline-block;
    position: relative;
    width: 118px;
    margin-right: calc(var(--bu) * 2);
}

.datepicker {
    background: var(--primary);
    padding: var(--bu);
    border-radius: 5px;
    border: none;
    color: var(--buttonTextColor);
    text-align: center;
    width: calc(100% - var(--bu) * 2);
}
.datepicker::placeholder {
    color: var(--buttonTextColor);
}
.icon {
    position: absolute;
    top: 12px;
    right: 12px;
}